<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags must come first in the head; any other head content must come after these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/icon.png">
    <title>Портал юридичної допомоги | Головна</title>
    <!-- Custom styles -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
  </head>
  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <div class="logo"><a class="navbar-brand" href="/"></a></div>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Головна</a></li>
            <li><a href="#about">Позови</a></li>
            <li><a href="#about">Поради</a></li>
            <li><a href="#contact">Про проект</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- Begin page content -->
    <div class="container">
    	<!-- Views go here -->
      <div class="page-header">
        <h1>Вітаємо на порталі правової допомоги!</h1>
      </div>
	   <!--TEASER-->
	  <div class="row">
		<div class="col-sm-6">
			<div class="inspector teaser-icon"></div><p class="teaser-text lead">Потрапили в ДТП та не згодні з інспектором?</p>
		</div>
		<div class="col-sm-6">
			<div class="protocol teaser-icon"></div><p class="teaser-text lead">Висновки протоколу не відповідають обставинам справи?</p>
		</div>
	  </div>
	  <div class="row">
		<div class="col-sm-6">
			<div class="expensive teaser-icon"></div><p class="teaser-text lead">Адвокати дорого коштують?</p>
		</div>
		<div class="col-sm-6">
			<div class="laws teaser-icon"></div><p class="teaser-text lead">Немає часу вивчати законодавство?</p>
		</div>
	  </div>
      <div class="row">
		<div class="col-sm-6">
			<div class="alone teaser-icon"></div><p class="teaser-text lead">Немає з ким порадитись?</p>
		</div>
		<div class="col-sm-6">
			<div class="but teaser-icon"></div><p class="teaser-text lead">Але Ви готові відстоювати свої права?</p>
		</div>
	  </div>
	  <div class="row">
		<div class="col-sm-6">
			<div class="idea teaser-icon"></div><p class="teaser-text lead">Вихід є! Треба лише заповнити дані, роздрукувати позов...</p>
		</div>
		<div class="col-sm-6">
			<div class="go teaser-icon"></div><p class="teaser-text lead">...вчнити підготовчі дії та звернутись до суду!</p>
		</div>
	  </div>
	</div>
		<!--EOF_TEASER-->
    <div class="under-menu">
      <div class="container">
        <p>Динамічні підменю будуть тут</p>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted">Дикі бурундуки 2016</p>
      </div>
    </footer>
    <!-- Bootstrap core JavaScript and jQuery
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
