/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: -moz-linear-gradient(top, rgba(255,255,255, 0.85) 100%, rgba(255,255,255, 0.2) 100%), url("background.png") repeat 0 0;
  background: -moz-linear-gradient(top, rgba(255,255,255, 0.85) 100%, rgba(255,255,255,0.2) 100%), url("background.png") repeat 0 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0.85))), url("background.png") repeat 0 0;
  background: -webkit-linear-gradient(top, rgba(255,255,255, 0.85) 100%,rgba(255,255,255,0.2) 100%), url("background.png") repeat 0 0;
  background: -o-linear-gradient(top, rgba(255,255,255, 0.85) 100%,rgba(255,255,255,0.2) 100%), url("background.png") repeat 0 0;
  background: -ms-linear-gradient(top, rgba(255,255,255, 0.85) 100%,rgba(255,255,255,0.2) 100%), url("background.png") repeat 0 0;
  background: linear-gradient(to bottom, rgba(255,255,255, 0.85) 100%,rgba(255,255,255,0.2) 100%), url("background.png") repeat 0 0;
  background-size: 150px;
}
.under-menu {
  position: absolute;
  bottom: 120px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: rgba(245, 245, 245, 0.98);
  opacity: 0.5;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
  background-color: #bbbbbb; /*F5F5F5*/
  padding: 15px 0 15px 0;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 180px;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

div.logo {
  background: url("logo.png") no-repeat 10px 5px;
  background-size: 35px;
  width: 55px;
  height: 45px;
  display: inline-block;
}

/* game styles */
div.game {
  display: inline-block;
  width: 90%;
  border: solid 1px darkgrey;
  text-align: center;
  font: 20px normal;
  vertical-align: center;
  margin: 5px;
  opacity: 0.5;
  background-color: #0c0c0c;
  color: white;
}
div.game div.used-letters-container {
  min-height: 60px;
}

div.game div.letter {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  border: solid 1px darkgrey;
  margin: 5px;
  padding: 11px;
  vertical-align:top;
}
div.game div.word {
  display: none;
}
div.game div.letter.unsolved {
  font-size: 0;
}
div.game div.used-letters-container,
div.game div.guess-letters-container,
div.game div.unused-letters-container,
div.game div.counter-container {
  margin: 10px 0;
}
div.game div.counter {
  display: inline;
}
div.game div.counter-container,
div.game div.refresh {
  display: inline;
  font-size: 14px;
}